.file-name {
  line-height: 5vw;
  padding: 5vw;
  padding-bottom: 3vw;
  font-weight: 200;
  font-size: 3vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-pages {
  text-align: center;
  overflow-y: scroll;
  background: rgba(0,0,0,.06);

  position: absolute;
  top: 13vw;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 5vw 0;
}

.file-pages canvas {
  margin: auto auto 20px auto;
  box-shadow: rgba(0,0,0,.12) 0 .25vw .375vw;
  display: block;
}

.file-pages canvas:last-child {
  margin-bottom: auto;
}

.file-shadow {
  position: absolute;
  top: 13.125vw;
  bottom: 0;
  right: 0;
  left: 0;

  box-shadow: rgba(0,0,0,.12) 0 .5vw .75vw inset;

  pointer-events: none;
}
