.file-pdf {
  text-align: center;
  overflow-y: scroll;
  background: rgba(0,0,0,.06);

  position: absolute;
  top: 0;
  bottom: 12.5vw;
  right: 0;
  left: 0;

  padding: 10vw 0;
}

.file-pdf canvas {
  margin: auto auto 20px auto;
  box-shadow: rgba(0,0,0,.12) 0 .25vw .375vw;
  display: block;
}

.file-pdf canvas:last-child {
  margin-bottom: auto;
}

.file-image {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  bottom: 12.5vw;
  right: 0;
  left: 0;

  padding: 10vw 0;
  overflow: auto;

  background: rgba(0,0,0,.06);
}

.file-image img {
  max-width: 80%;
  margin: auto;

  box-shadow: rgba(0,0,0,.12) 0 .25vw .375vw;
}

.file-markdown {
  position: absolute;
  top: 0;
  bottom: 12.5vw;
  right: 0;
  left: 0;

  padding: 5vw 10vw;
  font-size: 2.5vw;

  overflow: auto;
}

.file-shadow {
  position: absolute;
  top: 0;
  bottom: 12.5vw;
  right: 0;
  left: 0;

  box-shadow: rgba(0,0,0,.12) 0 -.5vw .75vw inset;

  pointer-events: none;
}
