.input-group {
  display: block;
}

.input-group .hint {
  font-weight: 400;
  color: rgba(0,0,0,.3);
  line-height: 20px;
  font-size: 12px;
}

.input-group input, .input-group textarea, .input-group [contenteditable="true"] {
  outline: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  width: 100%;
  line-height: 32px;
  font-size: 18px;
  font-family: 'Roboto', "NotoSansCJK SC";
  font-weight: 300;
  padding: 1px;

  /* From default input styles */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  display: inline-block;
  margin: 0;

  -webkit-app-region: no-drag;
}

.input-group .border-line {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.24);
  opacity: .5;
  transition: opacity .2s ease;
}

.input-group > :focus + .border-line {
  opacity: 1;
}

button {
  color: rgba(0,0,0,.87);
  opacity: 0.7;
  transition: opacity .2s ease;

  border: none;
  border-radius: 0;
  margin-top: 20px;
  outline: 0;

  font-size: 18px;
  line-height: 24px;
  background: transparent;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  -webkit-app-region: no-drag;
}

button.embedded {
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  padding: 0;
}

button.embedded .material-icons {
  font-size: 14px;
}

button:hover {
  opacity: 1;
}
