.selector {
}

.selector-item {
  min-height: 40px;
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;

  border-bottom: 1px solid rgba(0,0,0,.12);

  color: rgba(0,0,0,.54);

  transition: color 0.2s ease;

  white-space: nowrap;

  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.selector-item-spanning {
  flex: 1; /* To push other contents to the right */
}

.selector-item-hint {
  font-size: 12px;
  margin-left: 10px;
  color: rgba(0,0,0,.54);

  overflow: hidden;
  text-overflow: ellipsis;
}

.selector-hint {
  font-weight: 400;
  color: rgba(0,0,0,.3);
  line-height: 20px;
  font-size:12px;
}

.selector-item:last-child {
  border-bottom: none;
}

.selector-item:hover {
  color: rgba(0,0,0,.87);
}

.selector-item .material-icons {
  margin-right: 6px;
}

.dialog .selector-item {
  min-width: 0;
}

.selector-optional-btn {
  transition: color .2s ease;
  color: rgba(0,0,0,.54);
}

.selector-optional-btn:hover {
  color: rgba(0,0,0,.87);
}
