.selector {
}

.selector-item {
  min-height: 40px;
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;

  border-bottom: 1px solid rgba(0,0,0,.12);

  color: rgba(0,0,0,.87);

  opacity: 0.7;
  transition: opacity 0.2s ease;

  word-break: break-word;

  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.selector-hint {
  font-weight: 400;
  color: rgba(0,0,0,.3);
  line-height: 20px;
  font-size:12px;
}

.selector-item:last-child {
  border-bottom: none;
}

.selector-item:hover {
  opacity: 1;
}

.selector-item .material-icons {
  margin-right: 6px;
}

.dialog .selector-item {
  min-width: 0;
}
