.opacity-enter-active {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.opacity-leave-active {
  transition: opacity 0.2s ease-in;
}

.opacity-enter, .opacity-leave-to {
  opacity: 0;
}

.item-move {
  transition: transform .5s ease;
}

.item-enter-active {
  transition: opacity .5s ease;
}

.item-enter, .item-leave-to {
  opacity: 0;
}

.autocompletion-item {
  box-shadow: rgba(0,0,0,.12) 0 2px 3px;
  height: 40px;
}

.autocompletion-enter-active {
  transition: height .2s ease-out, box-shadow .2s ease-out;
}

.autocompletion-transition-active .ac-content {
  transition: opacity .2s ease-out;
}

.autocompletion-leave-active {
  transition: height .2s ease-in, box-shadow .2s ease-in;
}

.autocompletion-leave-active .ac-content {
  transition: opacity .2s ease-in;
}

.ac-content {
  opacity: .7;
}

.autocompletion-enter, .autocompletion-leave-to {
  height: 0;
  box-shadow: none;
}

.autocompletion-enter .ac-content, .autocompletion-leave-to .ac-content {
  opacity: 0;
}
