.dnd-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgba(0,0,0, .5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.dnd-icon {
  font-size: 48px;
  opacity: .7;
}
.dnd-hint {
  font-size: 12px;
  opacity: .7;
}
