<div class="view">
  <div class="view-title">主页</div>
  <div class="view-pagetitle clickable" @click="navigateTo('lists')">活跃发言名单</div>
  <div class="list">
    <div class="list-item clickable" v-for="list of lists | filterBy activeEntry | limitBy 5"></div>
    <div class="list-item empty-hint">无活跃发言名单</div>
  </div>
  <div class="view-pagetitle clickable" @click="navigateTo('timers')">活跃计时器</div>
  <div class="list">
    <div class="list-item" v-for="timer of timers | filterBy activeEntry | limitBy 5">
      <div class="list-item-indicator"></div>
      <div class="list-item-content">
        {{ timer.name }}
        <div class="timer-value-wrapper">
          <span class="timer-value-separator">/</span><timer class="timer-value" :time="timer.value"></timer>
        </div>
        <timer class="timer-left" :time="timer.left"></timer>
      </div>
    </div>
    <div class="list-item empty-hint">无活跃计时器</div>
  </div>
  <div class="view-pagetitle clickable" @click="navigateTo('votes')">活跃投票</div>
  <div class="list">
    <div class="list-item clickable" v-for="vote of votes | filterBy activeEntry | limitBy 5"></div>
    <div class="list-item empty-hint">无活跃投票</div>
  </div>
</div>
