.timer-row {
  display: flex;
  align-items: center;
}

.timer-name {
  flex: 1;
  margin-right: 20px;
}

.timer.timer-left {
  float: right;
}

.timer.timer-value, .timer-value-separator {
  display: inline-block;
  margin-left: 2px;
  opacity: 0.54;
  font-weight: 400;
  font-size: 12px;
}

.timer-value-wrapper {
  height: 21px;
  display: inline-flex;
  align-items: flex-end;
}

.timer-actions {
  float: right;
  display: flex;
  align-items: center;
}

.timer-action {
}
