.seats {
  display: flex;
  flex-direction: column;

  position: absolute;
  flex-flow: column wrap;
  padding: 0 40px;
  padding-bottom: 24px;
  top: 104px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-bottom: 0;

  overflow-x: auto;

  -webkit-app-region: no-drag;
}

.seat {
  width: 200px;
}
