.vote-row {
  display: flex;
  align-items: center;
}

.vote-name {
  margin-right: 20px;
  font-weight: 400;
  margin-right: 20px;
  word-break: break-word;
}

.vote-rounds-wrapper {
  display: inline-block;
  height: 24px;
  opacity: 0.54;
  font-size: 0;
}

.vote-iteration {
  opacity: 0.54;
  font-size: 18px;
}

.vote-rounds-separator {
  margin-left: 2px;
  font-size: 12px;
}

.vote-rounds {
  margin-left: 2px;
  font-size: 12px;
}

.vote-values {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 0;
}

.vote-value-separator {
  opacity: 0.54;
  margin: 0 2px;
  font-size: 12px;
}

.vote-value {
  font-size: 18px;
}

.vote-value.positive {
  color: #4CAF50;
}

.vote-value.negative {
  color: #F44336;
}

.vote-value.abstained {
  color: black;
}

.vote-value.target {
  color: #2196F3;
}

.vote-spanner {
  flex: 1;
}

.vote-type {
  opacity: 0.3;
}

.vote-seats {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.vote-seats .material-icons {
  opacity: 0.54;
  margin-right: 2px;
}
