@import '../fonts/fonts.css';

@import '../shared/style/common.css';
@import '../shared/style/transitions.css';
@import '../shared/style/list.css';

@import '../shared/components/timer.css';

@import './styles/timer.css';
@import './styles/file.css';
@import './styles/vote.css';
@import './styles/list.css';

@import './styles/override/list.css';

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'NotoSansCJK SC', sans-serif;

  overflow: hidden;

  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: default;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 12.5vw;
  right: 0;
  left: 0;

  background: white;
}

.layer.full {
  bottom: 0;
}

.top-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 12.5vw;
  box-sizing: border-box;
  border-bottom: rgba(0,0,0,.12) .125vw solid;

  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.top-title {
  font-size: 4vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-title > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-title.small {
  font-size: 3vw;
}

.top-title.big {
  font-size: 5vw;
}

.top-title.clickable {
  cursor: pointer;
}

.top-title .material-icons {
  margin-right: 2vw;
  font-size: 4vw;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12.5vw;
}

.brand {
  font-size: 6vw;
  font-weight: 100;
  color: black;

  opacity: 0.3;
}

.counter-group {
  display: inline-flex;
  align-items: center;
  margin-left: 2.5vw;
  min-width: max-content;
}

.counter-group .material-icons {
  font-size: 3vw;
  opacity: 0.54;
}

.counter {
  display: inline-block;
  margin-left: .625vw;
  font-size: 0;
}

.counter > div {
  display: inline-block;
}

.counter .present {
  font-size: 3vw;
  line-height: 3vw;
  font-weight: 400;
}

.counter .separator {
  font-size: 2vw;
  opacity: 0.3;
  margin: 0 .5vw;
}

.counter .all {
  font-size: 2vw;
  font-weight: 200;
}

.counter-indicator {
  display: inline-block;
  margin-left: 1.25vw;
  font-size: 0;
}

.counter-indicator-hint {
  display: inline-block;
  font-size: 1.5vw;
  font-weight: 300;
}

.counter-indicator-value {
  display: inline-block;
  font-size: 3vw;
  margin-left: .5vw;
}
