@import '../fonts/fonts.css';

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'NotoSansCJK SC', sans-serif;

  overflow: hidden;

  display: flex;

  -webkit-user-select: none;
  cursor: default;
  padding-bottom: 40px;
}

.importer, .exporter {
  height: 100%;
  flex: 1;

  display: flex;
  
  align-items: center;
  justify-content: center;

  transition: transform .2s ease, opacity .2s ease;
  opacity: .5;
  z-index: 1;
}

.box {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.material-icons {
  font-size: 36px;
  color: rgba(0,0,0,.6);
}

.main-hint {
  font-size: 24px;
  margin-top: 8px;
  color: rgba(0,0,0,1);
}

.hint {
  position: absolute;
  line-height: 80px;
  font-size: 12px;
  left: 0;
  right: 0;
  bottom: 0;

  text-align: center;

  color: rgba(0,0,0,.3);

  opacity: 1;
  transition: opacity .2s ease-out;
}

.import .hint, .export .hint {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.import .importer {
  transform: translateX(50%);
  opacity: .7;
}

.import .exporter {
  transform: translateX(100%);
  opacity: .3;
}

.export .exporter {
  transform: translateX(-50%);
  opacity: .7;
}

.export .importer {
  transform: translateX(-100%);
  opacity: .3;
}

.disabled .importer, .disabled .exporter {
  opacity: .3;
}
