<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
    <script src="action.js"></script>
  </head>
  <body onload="setup()">

    <div class="frame">
      <component
        :is="activeView"
        transition="opacity"

        :timers="timers"
        :seats="seats"
        :files="files"
        :file="file"

        :search-input="searchInput"

        @navigate="navigate"

        @update-seats="updateSeats"

        @add-timer="addTimer"
        @manipulate-timer="manipulateTimer"
        @update-timer="updateTimer"
        @project-timer="projectTimer"

        @add-file="addFile"
        @edit-file="editFile"
        @get-file="getFile"
        @view-file="viewFile">
      </component>
      <!-- Events will loop back through server broadcast -->
      <!-- So we are using one way binding -->

      <div class="action-bar">
        <div class="title" @click="navigate('home')">{{ title }}</div>
        <div class="counter-group">
          <i class="material-icons">person</i>
          <div class="counter">
            <div class="present">{{ presentCount }}</div>
            <div class="separator">/</div>
            <div class="all">{{ seatCount }}</div>
          </div>
        </div>
        <div class="actions">
          <div class="action" @click="navigate('seats')">
            <i class="material-icons">event_seat</i>
          </div>
          <div class="action" @click="navigate('lists')">
            <i class="material-icons">record_voice_over</i>
          </div>
          <div class="action" @click="navigate('timers')">
            <i class="material-icons">timer</i>
          </div>
          <div class="action" @click="navigate('files')">
            <i class="material-icons">folder</i>
          </div>
          <div class="action" @click="navigate('votes')">
            <i class="material-icons">thumbs_up_down</i>
          </div>
          <div class="action" @click="toggleProjector">
            <i class="material-icons" v-show="projOn">cast_connected</i>
            <i class="material-icons" v-else>cast</i>
          </div>
        </div>
      </div>
    </div>

    <div class="picker" transition="opacity" v-show="!frame">
      <div class="picker-content">
        <div class="picker-title">请选择委员会</div>
        <div class="selector">
          <div class="selector-item" v-for="conf of confs" @click="connectConf(conf.id, conf.name)">
            {{ conf.name }}
          </div>
          <div class="selector-item" @click="createConf()">
            <i class="material-icons">add</i>创建一个新委员会
          </div>
        </div>
      </div>
    </div>

    <div class="startup" :class="{ ready: ready }" v-show="!picker" transition="opacity">
      <div class="brand">
        Console Next
      </div>
      <div class="selector">
        <div class="loading-hint" transition="opacity" v-show="loading">
          喵喵喵...
        </div>
        <div class="selector-item" @click="connectBackend">
          <i class="material-icons">settings_ethernet</i>连接到会话...
        </div>
        <div class="selector-item" @click="createBackend">
          <i class="material-icons">wifi_tethering</i>在本地创建一个新会话...
        </div>
      </div>
    </div>

    <div class="mask" transition="opacity" v-show="!started"></div>

    <div class="dialog-overlap" transition="opacity" v-show="createConfFlag" @click="discardConfCreation">
      <div class="dialog" @click="blocker">
        <div class="dialog-title">
          创建委员会
        </div>
        <div class="dialog-content">
          <div class="input-group">
            <div class="hint">委员会名</div>
            <input v-model="confName" @keydown.enter="performConfCreation" @keydown.esc="discardConfCreation" v-el:conf-name-input>
            <div class="border-line"></div>
          </div>
          <button @click="performConfCreation" class="confirmation-btn">
            创建
            <i class="material-icons">keyboard_arrow_right</i>
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="dialog-overlap" transition="opacity" v-show="connectBackendFlag" @click="discardBackendConnection">
      <div class="dialog" @click="blocker">
        <div class="dialog-title">
          连接到...
        </div>
        <div class="dialog-content">
          <div class="input-group">
            <div class="hint">服务器URL</div>
            <input v-model="backendUrl">
            <div class="border-line"></div>
          </div>

          <div class="input-group">
            <div class="hint">密码</div>
            <input v-model="backendPasskey">
            <div class="border-line"></div>
          </div>

          <button @click="performBackendConnection" class="confirmation-btn">
            连接
            <i class="material-icons">keyboard_arrow_right</i>
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </body>
</html>
