.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 10000;
  background: white;
}

.startup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 2000;

  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  transform: translateY(100px);
  transition: transform 2s ease, opacity 0.5s ease-in;
}

.startup .selector {
  opacity: 0;
  transition: opacity 2s ease-out;
  position: relative;
}

.startup.ready {
  transform: translateY(0);
}

.startup.ready .selector {
  opacity: 1;
}

.brand {
  font-size: 48px;
  font-weight: 100;

  margin-bottom: 40px;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.loading-hint {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0,0,0,.3);

  z-index: 2001;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.picker {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;

  z-index: 1500;

  overflow-y: auto;
}

.picker-content {
  width: 300px;
  margin: 100px auto;
}

.picker-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  padding-bottom: 40px;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}
