@import '../fonts/fonts.css';

@import '../shared/style/common.css';
@import '../shared/style/selector.css';
@import '../shared/style/input.css';
@import '../shared/style/dialog.css';
@import '../shared/style/transitions.css';

@import './startup.css';
@import './frame.css';

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'NotoSansCJK SC';

  overflow: hidden;
}
