.list-row {
  display: flex;
  align-items: center;
}

.list-name {
  flex: 1;
  margin-right: 20px;
}

.list-timer {
  margin-right: 10px;
  display: flex;
  align-items: baseline;
}

.list-timer-icon {
  display: flex;
  opacity: 0.54;
  margin-right: 5px;
}
